@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

html,
body {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: cadetblue;
}

.title {
  padding: 50px 25px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

img {
  /* makes images stick to the edges of its container */
  display: block;
  /* makes images scale with its container */
  width: 100%;
  /* prevents the image from strecthing */
  height: auto;
}

@media (min-width: 960px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }
  /* makes the image at half the viewports */
  img {
    width: 50vw;
  }
}